<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Telephone Book</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Styles/contactstyle.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/tools")
    @Scripts.Render("~/bundles/app")
</head>
<body>
    <div class="navbar-fixed-top topbar">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Telephone Book", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
